/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
}

/* utili */
a{
    text-decoration: none;
    color: white;
}

h2, h1{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

.button{
    border-radius: 18px;
    padding: 10px;
}

.button.white{
    background-color: white;
    color: black;
}

.button.black{
    background-color: rgb(36, 39, 42);
}

.button.blue{
    background-color: rgb(145, 162, 220);
    margin: 0 auto;
    margin-bottom: 28px;
}

.container{
    margin: auto;
    width: 80%;
}

/* header-top */
.header-top{
    background-color: rgb(41, 94, 231);
}

.header-top .container > * {
    background-color: rgb(41, 94, 231);
}

.header-top .container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 15px;
    min-height: 80px;
}

.logo, .login{
    width: 20%;
    padding: 15px 0;
}

.logo{
    padding: 12px 0 26px 0;
    margin-top: 4px;
}

.link{
    width: 60%;
    padding: 15px;
}

.login{
    text-align: right;
}

.link > ul{
    display: flex;
    justify-content: center;
}

li {
    margin-left: 1em;
    list-style: none;
    padding: 0 8px;
}

/* blue and pink */
.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 30px 0 36px ;
}
  
.header-box {
    background-color: transparent;
    margin: 50px 0;
    text-align: center;
    width: 50%;
  }

.bluesq{
    display: flex;
    justify-content: center;
  }

p{
    margin: 6% 0 4% 0;
    line-height: 23px;
}

/* main */
section, .container{
    display: flex;
    justify-content: center;
    margin: auto;
}

section:nth-child(even){
    background-color: rgb(246, 246, 246);
}

.big-box > img{
    width: 80%;
}

.small-box > p, .small-box > h2{
    width: 70%;
    text-align: left;
}

.big-box{
    background-color: transparent;
    width: 60%;
}

.small-box{
    background-color: transparent;
    width: 40%;
    padding-top: 26px;
}

.green{
    background-color: transparent;
    text-align: center;
}

.box{
    margin: 40px 0;
}

.green > p, .green > h2{
    width: 90%;
    margin: 18px auto;
    text-align: center;
}

h3{
    margin-bottom: 25px;
    padding: 25px 0 0 0;
}

#stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center top;
}


/* footer */
h4{
    margin-left: 12%;
}

footer{
    background-color: rgb(36, 39, 42);
    color: white;
}

h4, .footer-box > h3{
    color: rgb(117, 138, 212);
}

.footer-box > h3{
    margin-bottom: 16px;
    padding-top: 9px;
}

.footer-top .container{
    display: flex;
    justify-content: center;
}

#language > img{
    vertical-align: middle;
    width: 7%;
}

.social{
    font-size: 20px;
    margin: 9px 0 0 0;

}

.footer-box{
    width: 30%;
    background-color: transparent;
}

.footer-big{
    display: flex;
    width: calc(100% - 30%);
    margin: 10px 0 20px 0;
}

.footer-small{
    width: 25%;
    background-color: transparent;
    line-height: 25px;
}

.foot{
    margin-top: 30px;
}

/* waves */

/* footer-bottom */
.footer-bigger{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 2% 0 5% 0;
}

.logo, .signup{
    padding: 5px 10px;
    background-color: transparent;
}

#signup{
    padding-bottom: 0.65%;
}

hr{
    width: 80%;
    margin: auto;
    border: 1px solid rgb(67, 77, 109)
}
